.login-button {
    display: flex;
    justify-content: flex-end;
}

.nav-section {
    justify-content: center;
    display: flex;
}

.menu-list {
    display: flex;
    /* justify-content: center; */
    list-style-type: none;
}

.menu-list li {
    padding: 10px;
}

.menu-area {
    display: flex;
    justify-content: center;
}

.menu-search {
    justify-self: flex-end;
}