doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="/layout.css")
    title Sign In
  body 
    #layout.flexbox 
      #app.flexbox 
        form(method="get", action='/') 
          input#email(type="email", name="email")
          input#password(type="password", name="password")
          button(type="submit") login

  script(src="/signIn.js") 