doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    link(rel="stylesheet", href="style.css")
    title= sginOrLog === 'signin'? 'Sign in' : 'Log in'
  body 
    div#container
      form#form(action=`/auth/${sginOrLog}`, method="post")
        if sginOrLog === 'signin'
          input(type="text", name="nickname", placeholder='nickname')
        input(type="text", name="id", placeholder='id')
        input(type="password", name="pw", placeholder='password')
        input(type="submit")
