html(lang="en")
  head
    meta(charset="UTF-8")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="viewport", content="width=device-width, initial-scale=1.0")
    title Login
  body 
    div 
      span ID: 
      span= user.id
    div 
      span Password: 
      span= user.pw
    div 
      span Nickname: 
      span= user.nickname
    form(action="/", method="get") 
      input(type="submit", value="Home")
    if loggedIn 
      form(action="/auth/logout", method="get") 
        input(type="submit", value="Log Out")