nav#nav 
  ul.flexbox
    li 
      a(href="/") 
        i(class="fas fa-home fa-lg")
    li 
      a(href="/profile") 
        i(class="fas fa-user fa-lg")
    li 
      a(href="/chats") 
        i(class="fas fa-comment fa-lg")
      